{% extends 'base.html.twig' %}
{% block body %}

<h1>Bienvenue sur le site !</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem a, repellat libero sit velit debitis facere saepe, recusandae laudantium nostrum natus, totam hic amet possimus. Dolor vitae velit aliquam possimus consequatur assumenda labore nihil modi quisquam nobis laboriosam quam, dolore vero voluptas odio cum dolores doloremque! Quis ab quam iste.</p>
<p>Enim ipsam at eveniet dolore saepe, qui, est reiciendis illum praesentium dignissimos atque cum amet, sed velit laudantium repellat nemo sint aliquam quia consequuntur quasi maiores sit non! Architecto tenetur ex iusto voluptatem fugiat molestiae molestias, ullam obcaecati eius, culpa deserunt sapiente accusamus quam totam consequatur maiores repudiandae, voluptates hic.</p>
{% endblock %}