{% extends 'base.html.twig'  %}

{% block body %}
<table>
    <thead>
        <tr>
            <td> id</td>
            <td> email</td>
            <td> username </td>
        </tr>
    </thead>
  
    <tbody>
      {% for profil in profilUser %}
        <tr>
            <td>{{profil.id}}</td>
            <td>{{profil.email}}</td>
            
            <td>{{profil.username}}</td>
            {# <td>{{profil.article.}}</td> #}
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}